body {
    background-color: rgba(255, 255, 126, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gridContainer {

   display: flex;

   
    border-style: dotted;
}

.grid {
   
    position: flex;
    flex-direction: column;
    align-items: center;
}
   

