
body {
    background-color: rgba(255, 255, 84, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.gridContainer {
    margin-top: 5%;
   
    width: 200x;
    height: 200px;
    
    border-style: solid;
    border-width: 10px;
    border-radius: 5%;
    
}

.grid {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
  
}


.clearBTN {
    font-family: 'Permanent Marker';
    color: black;
   

    height: 20px;
    transition-duration: 0.4s
}
.clearBTN:hover {
    
}
.randomBTN {
    height: 20px;
}
.blackBTN {
    height: 20px;
}