body {
    background-color: rgba(255, 255, 126, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gridContainer {
    border-style: solid;
    width: 200x;
    height: 200px;
}

.grid {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-style: dotted;
}



